<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @element.description %>
</p>

<p>
  <strong>User:</strong>
<% @element.users.each do |use| %>
      <%= use.lastname %>
  <% end %>

</p>

<p>
  <strong>Progress:</strong>
  <%= @element.progress %>
</p>



<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
