<% provide(:title, 'Sign up') %>
<h1>Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= f.label(:firstname, 'First Name') %>
        <%= f.text_field :firstname %><br>

        <%= f.label(:lastname, 'Last Name')%>
        <%= f.text_field :lastname %><br>

        <%= f.label(:email, 'Email Address') %>
        <%= f.email_field :email %><br>

        <%= f.label(:password, 'Password') %>
        <%= f.password_field :password %><br>

        <%= f.submit "Create my Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>



<%= link_to 'Back', users_path %>
