<p id="notice"><%= notice %></p>
<h1>Tasks for <%= current_user.firstname %></h1>
<p>
  <% console %>
  <strong>Firstname:</strong>
  <%= current_user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= current_user.lastname %>
</p>

<p>
  <strong>Tasks:</strong>
  <% current_user.elements.each do |use| %>
      <%= use.description %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= button_to "Add Element", new_element_path, :method => :get, :class => "btn btn-primary" %>
<%= button_to "View All Elements", elements_path, :method => :get, :class => "btn btn-primary" %>